* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  overflow-x: hidden;
  color: #00bcd4;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.logo {
  margin-left: 5px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
ul {
  list-style: none;
}

.menu {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu li a {
  text-decoration: none;
  font-size: 19px;
  color: white;
}
.menu li a:hover {
  background-color: brown;
  padding: 6px;
}
.name {
  text-align: center;
  margin-top: 490px;
}
.abc {
  text-align: center;
  margin-top: 500px;
  color: white;
}
@media (max-width: 600px) {
  .menu {
    flex-direction: column;
  }
}

@media (max-width: 1200px) and (min-width: 1005px) {
  .abc {
    margin-top: 430px;
  }
}
@media (max-width: 1005px) and (min-width: 900px) {
  .abc {
    margin-top: 370px;
  }
}
@media (max-width: 899px) and (min-width: 769px) {
  .abc {
    margin-top: 340px;
  }
}
@media (max-width: 768px) and (min-width: 666px) {
  .abc {
    margin-top: 300px;
  }
}
@media (max-width: 666px) and (min-width: 604px) {
  .abc {
    margin-top: 270px;
  }
}
@media (max-width: 604px) {
  .abc {
    margin-top: 40px;
  }
}
